body {
	margin: 0;
}

@font-face {
	font-family: 'Omicron';
	src: url(assets/fonts/omicron.ttf) format('truetype');
}

@font-face {
	font-family: 'Computer';
	src: url(assets/fonts/DS-DIGI.ttf) format('truetype');
}

@font-face {
	font-family: 'Consolas';
	src: url(assets/fonts/consolas.ttf) format('truetype');
}

#main {
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#game-level {
	display: inline-block;
}

#mines-left, #timer {
	display: inline-block;
	margin: 0 0 0 12px;
}

#mines-left .value, #timer .value {
	font-family: 'Computer', sans serif;
	font-size: 70px;
}

#board {
	flex: 1;
	display: grid;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}

#board .covered {
	z-index: 777777;
	height: 30px;
	width: 30px;
	border: 3px solid;
	border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
	font-family: 'Consolas', monospace;
	box-sizing: border-box;
	background-color: #dcd6bc;
}

#board .revealed {
	height: 30px;
	width: 30px;
	border: 2px solid;
	background-color: #cecab7;
	border-color: #9c998d;
	box-sizing: border-box;
}

#board .flagged {
	/*z-index: -777777;*/
	height: 30px;
	width: 30px;
	border: 3px solid;
	border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
	box-sizing: border-box;
	background-image: url('assets/images/flag.png');
	background-position: center;
	background-size: contain;
	background-color: #dcd6bc;

}

.flag {
	z-index: -5555;
	object-fit: contain;
	max-height: 18px;
	max-width: 22px;
}

#menu .left-side {
	float: left;
}

#menu .right-side {
	float: right;
}





